<h1>Update an Existing Figure</h1>

<form action="/figures/<%=@figure.id%>" method="post">

  <input type="hidden" name="_method" value="patch">

  <h3>Name:</h3>
  <input id="figure_name" type="text" name="figure[name]" value="<%=@figure.name%>">
  <br><br>

  <h3>Titles:</h3>
  <% Title.all.each do |title| %>
  <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" <%= 'checked' if @figure.titles.include?(title)%>><%=title.name%>
  <%end %>
  <br><br>
  <h3>Create New Title:</h3>
  <input type="text" name="title[name]" value="">
  <br><br>

  <h3>Lanmarks:</h3>
  <% Landmark.all.each do |landmark| %>
  <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" <%= 'checked' if @figure.landmarks.include?(landmark)%>><%=landmark.name%>
  <% end %>
  <br><br>

  <h3>Create New Landmark</h3>
  Name: <input id="new_landmark" type="text" name="landmark[name]" value="">
  Year: <input type="text" name="landmark[year_completed]" value="">
  <br><br>
  <input type="submit" name="" value="Edit Figure">
</form>
